.bodyBackground 
{
    background-image:url(backg.jpg); Ajustar o nome do arquivo com a imagem de background
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}

